<mat-stepper
  class="stepper"
  [orientation]="(stepperOrientation | async)!"
  [linear]="false">
  <!-- Schedule form -->
  <mat-step [stepControl]="scheduleFormGroup" label="Información de la cita" [editable]="editable">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="container" [formGroup]="scheduleFormGroup" fxFlexFill>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
        <button *ngIf="!addServiceClicked" mat-raised-button color="warn" (click)="addService()" fxFlexFill>Click aquí para agregar un servicio</button>
      </div>
      <div fxLayout="row" fxFlexFill *ngIf="addedServices.length > 0">
        <div fxLayout="column" fxFlexFill>
          <book-services [services]="addedServicesGrouped" (isHomeService)="isHomeService = $event" (addService)="addService()" (quantityModified)="modifyAddedServicesQuantity($event)"></book-services>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="addServiceClicked" fxFlexFill>
        <mat-form-field fxFlexFill>
          <mat-label>Seleccione una fecha</mat-label>
          <input matInput
            #inputDate
            (focus)="picker.open()"
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
            [disabled]="addedServices.length === 0"
            (dateChange)="onDateChange(); scrollToView(bookAvailableHours);"
            formControlName="startDate"
          >
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker (closed)="inputDate.blur()"></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill *ngIf="unavailableHours">
        <h4 class="mt">Lo sentimos, no tenemos disponibilidad para este día con la cantidad de servicios seleccionados</h4>
      </div>
      <div #bookAvailableHours fxLayout="row" fxFlexFill>
        <div fxLayout="column" *ngIf="availableHours.length > 0" fxFlexFill>
          <book-available-hour [availableHours]="availableHours" (tabChanged)="onTypeTapeChange($event)" (showResult)="showResult($event); scrollToView(bookResult);" fxFlexFill></book-available-hour>
        </div>
      </div>
      <div #bookResult fxLayout="row" fxFlexFill class="mt">
        <div fxLayout="column" *ngIf="resultTotal" fxFlexFill>
          <book-result [result]="resultTotal"></book-result>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt" *ngIf="addServiceClicked">
        <button mat-raised-button
          matStepperNext
          color="warn"
          [disabled]="!scheduleFormGroup.valid"
        >Siguiente</button>
      </div>
    </div>
  </mat-step>

  <!-- User form -->
  <mat-step [stepControl]="userFormGroup" label="Verificación de identidad" [editable]="editable" *ngIf="!user.isAuthenticated">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="container" [formGroup]="userFormGroup">
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
        <mat-form-field fxFlexFill>
          <mat-label>Celular</mat-label>
          <button mat-icon-button matPrefix>
            <span class="flag-icon flag-icon-co flag-icon-squared"></span>
          </button>
          <input matInput
            formControlName="phone"
            placeholder="Escriba su número"
            required
            prefix="+57 "
            [showMaskTyped]="true"
            mask="(000) 000-0000"
          >
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!userFormGroup.get('phoneVerified')?.value">
        <book-phone-login [phoneNumber]="userFormGroup.get('phone')" (verified)="phoneVerifiedSuccessfully($event)"></book-phone-login>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="userFormGroup.get('phoneVerified')?.value">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          <div fxLayout="row" fxLayoutAlign="center center">
            <h5>¡Celular verificado exitosamente!</h5>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill class="mt" *ngIf="userFormGroup.get('phoneVerified')?.value">
        <mat-form-field fxFlexFill>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Escriba su nombre"
                  required>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill *ngIf="userFormGroup.get('phoneVerified')?.value">
        <mat-form-field fxFlexFill>
          <mat-label>Instagram</mat-label>
          <input matInput formControlName="instagram" prefix="@ " placeholder="Usuario de instagram">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
        <mat-checkbox fxFlexFill
          formControlName="privacyAcceptance"
          *ngIf="userFormGroup.get('phoneVerified')?.value"
        >Acepto las politicas de tratamiento de datos</mat-checkbox>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill *ngIf="signUpError" class="mt">
        <h5 class="warning">Ocurrió un error, intente nuevamente</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt">
        <button mat-raised-button matStepperPrevious>Atrás</button>
        <button mat-raised-button class="ml" [disabled]="!userFormGroup.valid" color="warn" (click)="saveNewUser()">Siguiente</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Verificación de identidad" [editable]="editable" *ngIf="user.isAuthenticated">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="container">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          <div fxLayout="row" fxLayoutAlign="center center">
            <h5>¡Hola {{ user.userData?.name }}!</h5>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="mt">
            <h5>Presiona siguiente para continuar</h5>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt">
        <button mat-raised-button matStepperPrevious>Atrás</button>
        <button mat-raised-button class="ml" color="warn" matStepperNext>Siguiente</button>
      </div>
    </div>
  </mat-step>

  <!-- Resumen form -->
  <mat-step label="Resumen" [editable]="editable">
    <div fxLayout="column" class="resumen-container">
      <div fxLayout="row" class="mt">
        <h3>Resumen de la Orden</h3>
      </div>
      <div fxLayout="row" class="mb" fxFlexFill>
        <h5>{{ addedServices.length }} servicios(s)</h5>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="column">
        <div fxLayout="row" class="box" fxFlexFill *ngFor="let g of addedServicesGrouped">
          <div fxLayout="column" fxFlex="70">
            <div fxLayout="row" fxLayoutAlign="start start">
              <h5>{{ g.name }}</h5>
            </div>
          </div>
          <div fxLayout="column" fxFlex="30">
            <div fxLayout="row"  fxLayoutAlign="end start">
              <h5>Cantidad: {{ g.quantity }}</h5>
            </div>
            <div fxLayout="row"  fxLayoutAlign="end start">
              <h5>{{ g.price | currency : 'COP' : '$' : '3.0' }}</h5>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" class="mt" fxFlexFill>
        <div fxLayout="column" fxFlex="70">
          <div fxLayout="row" fxLayoutAlign="start start">
            <h4>Total</h4>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <h4>Anticipo</h4>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30">
          <div fxLayout="row" fxLayoutAlign="end start">
            <h5><strong>{{ getPriceTotal() | currency : 'COP' : '$' : '3.0' }}</strong></h5>
          </div>
          <div fxLayout="row" fxLayoutAlign="end start">
            <h5><strong>{{ getPriceTotal() * 0.2 | currency : 'COP' : '$' : '3.0' }}</strong></h5>
          </div>
          <div fxLayout="row" fxLayoutAlign="end start">
            <h6 class="warning">(20% del total)</h6>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt">
        <button mat-raised-button matStepperPrevious>Atrás</button>
        <button mat-raised-button color="warn" class="ml" (click)="areYouSure()">Continuar con el pago</button>
      </div>
    </div>
  </mat-step>

  <!-- Payment form -->
  <mat-step [stepControl]="paymentFormGroup" label="Pago del servicio">
    <div fxLayout="column" fxFlexFill>
      <div fxLayout="row" class="mt" fxLayoutAlign="center center" fxFlexFill>
        <h5>Para poder confirmar la cita, debes realizar el pago del anticipo (20% del total)</h5>
      </div>
      <div fxLayout="row" fxFlexFill>
        <h6 class="warning">Hasta que no se realice el pago no se garantizará que la cita está confirmada y los horarios podrán ser tomados por otro usuario en cualquier momento</h6>
      </div>
      <div fxLayout="row" fxFlexFill>
        <mat-accordion class="mt">
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
              <mat-panel-title>
                Transferencia
              </mat-panel-title>
              <mat-panel-description>
                Paga y envía el comprobante (Sin recargo)
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxFlexFill>
              <div fxLayout="row" class="mt box" fxFlexFill (click)="openPaymentTransfer('bancolombia')">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70">
                  <img src="/assets/images/book/bancolombia.png" />
                </div>
                <div fxLayout="column" fxFlex="30">
                  <button mat-icon-button color="warn">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row" class="mtb box" fxFlexFill (click)="openPaymentTransfer('nequi')">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70">
                  <img src="/assets/images/book/nequi.png" />
                </div>
                <div fxLayout="column" fxFlex="30">
                  <button mat-icon-button color="warn">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row" class="mt" fxFlexFill>
                <button fxFlexFill mat-raised-button color="warn" (click)="sendToWhatsapp()">Enviar a Whatsapp</button>
              </div>
              <div fxLayout="row" class="mt" fxFlexFill>
                <h6>Envía el comprobante de pago a Whatsapp para verificar la transacción (Esto puede tardar un momento)</h6>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel disabled>
            <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
              <mat-panel-title>
                Wompi
              </mat-panel-title>
              <mat-panel-description>
                PSE, Bancolombia, Nequi, etc (Recargo del 4%)
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="warning">Estamos trabajando para habilitar este tipo de pago, utiliza otro disponible</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-step>
</mat-stepper>
