<div mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
            <img class="mt" mat-dialog-title [src]="method.logo">           
        </div>
        <div fxLayout="row" class="mt" fxFlexFill>
            <h4>{{ method.account }}</h4>
        </div>
        <div fxLayout="row" *ngIf="method.accountType" fxFlexFill>
            <h4>{{ method.accountType }}</h4>
        </div>
        <div>
            <img [src]="method.qrCode">
        </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="paid()" color="warn" cdkFocusInitial>Ya pagué</button>
  <button mat-raised-button (click)="close()">Cerrar</button>
</div>
