<div fxLayout="row" fxFlexFill>
  <div fxLayout="column" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h4>Horas disponibles</h4>
    </div>
    <mat-tab-group>
      <mat-tab label="Iniciar a las">
        <h5>Quiero iniciar el servicio a esta hora:</h5>
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile *ngFor="let hour of availableHours; let i = index;"
          >
            <button class="hourButton"
              [color]="!nonSelected && i === hourIndexClicked ? 'warn' : 'primary'"
              mat-flat-button
              (click)="hourClicked(hour, i)"
            >
              {{ hour | date: 'shortTime' }}
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Estar list@ a las">
        <h5>Necesito haber finalizado a esta hora:</h5>
        <mat-grid-list cols="4" rowHeight="50px">
          <mat-grid-tile *ngFor="let hour of availableHours; let i = index;"
          >
            <button class="hourButton"
              [color]="!nonSelected && i === hourIndexClicked ? 'warn' : 'primary'"
              mat-flat-button
              (click)="hourClicked(hour, i)"
            >
              {{ hour | date: 'shortTime' }}
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
