<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxFlexFill #intro>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" class="intro">
      <div fxLayout="row">
        <h2>Hola.</h2>
      </div>
      <div fxLayout="row">
        <h4>Nuestra empresa está dedicada a realzar tu luminosidad natural a través de productos y tratamientos de cuidado de la piel de alta calidad.</h4>
      </div>
      <div fxLayout="row">
        <h4>¡Despierta tu belleza interior y exterior en</h4>
      </div>
      <div fxLayout="row">
        <h1>Misabel!</h1>
      </div>
      <div fxLayout="row">
        <div class="down" (click)="scrollTo(whatido)">down</div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill #whatido>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" class="whatido">
      <div class="box">
        <div fxLayout="row">
          <h2><strong>¿Qué hago?</strong></h2>
        </div>
        <div fxLayout="row">
          <h5>
            Misabel realza la belleza con productos y tratamientos de alta calidad, inspirando confianza y bienestar. Ofrecemos soluciones personalizadas que nutren la piel, reflejando auténtica belleza. Descubre el poder transformador de Misabel para una piel radiante. 💖✨</h5>
        </div>
      </div>
      <div fxLayout="row">
        <div class="down" (click)="scrollTo(whoiam)">down</div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill #whoiam>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" class="whoiam">
      <div class="box">
        <div fxLayout="row">
          <h2><strong>¿Quien soy?</strong></h2>
        </div>
        <div fxLayout="row">
          <h5>Con años de experiencia en maquillaje, mi pasión se fusiona con el estudio de la cosmetología. Busco perfeccionar mi arte y comprender los cuidados de la piel para ofrecer a mis clientes una experiencia completa de belleza y bienestar. ¡Cada día es una oportunidad emocionante de crear y aprender!</h5>
        </div>
      </div>
      <div fxLayout="row">
        <div class="down" (click)="scrollTo(mywork)">down</div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill #mywork>
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100" class="mywork">
      <div class="box">
        <div fxLayout="row" class="myworkheading">
          <h2><strong>Mi trabajo</strong></h2>
        </div>
        <div fxLayout="row">
          <h5>En mi emocionante viaje en el maquillaje, cada proyecto, desde eventos especiales hasta colaboraciones con marcas, ha perfeccionado mi arte. Exploro la cosmetología para un cuidado integral de la piel, dedicándome a resaltar la belleza única en cada rostro.</h5>
        </div>
        <div fxLayout="row" class="mt">
          <img src="/assets/images/home/works/work2.jpg">
        </div>
        <div fxLayout="row">
          <img src="/assets/images/home/works/work3.jpg">
        </div>
        <div fxLayout="row">
          <img src="/assets/images/home/works/work4.jpg">
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill #contact>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100" class="contact">
      <div class="box">
        <div fxLayout="row">
          <h2><strong>Dime Hola.</strong></h2>
        </div>
        <div fxLayout="row">
          <h5>¡Hola! Estoy encantado/a de conectarme contigo. Si tienes alguna pregunta, comentario o simplemente quieres charlar sobre belleza, maquillaje o cualquier otro tema, ¡no dudes en contactarme! Puedes encontrarme en mis redes sociales o enviarme un mensaje por WhatsApp. ¡Espero saber de ti pronto! 😊📱</h5>
        </div>
        <div fxLayout="row" class="mt whatsapp" fxLayoutAlign="center center">
          <img src="/assets/images/home/css/whatsapp.svg"/>
          <h4>Whatsapp</h4>
        </div>
        <div fxLayout="row" class="mt instagram" fxLayoutAlign="center center">
          <img src="/assets/images/home/css/instagram.svg"/>
          <h4>Instagram</h4>
        </div>
      </div>
    </div>
  </div>
</div>
